body {
    background-color: #000;
    color: #00eaff;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    font-size: 18px; /* MÁS GRANDE */
}

/* Títulos */
.titulo {
    text-align: center;
    text-shadow: 0 0 18px #00eaff;
    margin-bottom: 25px;
    font-size: 2rem; /* MÁS GRANDE */
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background: #001a1a;
    box-shadow: 0 0 25px #00eaff;
    border-radius: 12px;
    overflow: hidden;
    font-size: 18px; /* MÁS GRANDE */
}

th, td {
    border: 1px solid #00eaff;
    padding: 12px 18px;
    text-align: left;
}

th {
    background-color: #002326;
    color: #00eaff;
    text-shadow: 0 0 12px #00eaff;
    font-size: 19px; /* MÁS GRANDE */
}

tr:nth-child(even) {
    background-color: #001b1d;
}

tr:hover {
    background-color: #00556b;
    cursor: pointer;
}

/* Botones */
button {
    background-color: #000;
    border: 2px solid #00eaff;
    color: #00eaff;
    padding: 12px 25px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00eaff;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    font-size: 18px; /* MÁS GRANDE */
}

button:hover {
    background-color: #00eaff;
    color: #000;
    box-shadow: 0 0 35px #00eaff;
}

.button-container {
    margin-bottom: 25px;
    display: flex;
    gap: 20px;
}
