/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 nov 2025, 17:05:19
    Author     : serbi
*/

body {
    background-color: #000;
    color: #00eaff;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    font-size: 18px; 
}

.titulo {
    text-align: center;
    text-shadow: 0 0 18px #00eaff;
    margin-bottom: 25px;
    font-size: 2rem; 
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #001a1a;
    box-shadow: 0 0 25px #00eaff;
    border-radius: 12px;
    overflow: hidden;
    font-size: 18px; 
}

th, td {
    border: 1px solid #00eaff;
    padding: 12px 18px;
    text-align: left;
}

th {
    background-color: #002326;
    color: #00eaff;
    text-shadow: 0 0 12px #00eaff;
    font-size: 19px; 
}

tr:nth-child(even) {
    background-color: #001b1d;
}

tr:hover {
    background-color: #00556b;
    cursor: pointer;
}

button {
    background-color: #000;
    border: 2px solid #00eaff;
    color: #00eaff;
    padding: 12px 25px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00eaff;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    font-size: 18px; 
}

button:hover {
    background-color: #00eaff;
    color: #000;
    box-shadow: 0 0 35px #00eaff;
}

.button-container {
    margin-bottom: 25px;
    display: flex;
    gap: 20px;
}
