/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 nov 2025, 17:05:19
    Author     : serbi
*/

body {
    background-color: #000;
    color: #00ffff;
    font-family: 'Poppins', sans-serif;
    margin: 25px;
    font-size: 18px; 
}

.titulo {
    text-align: center;
    text-shadow: 0 0 15px #00ffff;
    margin-bottom: 25px;
    font-size: 26px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #111111;
    box-shadow: 0 0 25px #00ffff;
    border-radius: 12px;
    overflow: hidden;
    font-size: 18px; 
}

th, td {
    border: 1px solid #00ffff;
    padding: 12px 18px;
    text-align: left;
}

th {
    background-color: #222222;
    color: #00ffff;
    text-shadow: 0 0 10px #00ffff;
    font-size: 19px; 
}

tr:nth-child(even) {
    background-color: #1a1a1a;
}

tr:hover {
    background-color: #003333;
    cursor: pointer;
}

button {
    background-color: #000;
    border: 2px solid #00ffff;
    color: #00ffff;
    padding: 12px 22px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00ffff;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    font-size: 18px; 
}

button:hover {
    background-color: #00ffff;
    color: #000;
    box-shadow: 0 0 30px #00ffff;
}

.button-container {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
}
