/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 nov 2025, 17:05:19
    Author     : serbi
*/

body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #00eaff;
    box-shadow: 0 0 25px #00eaff;
    border-radius: 15px;
    padding: 40px;
    width: 340px;
    text-align: center;
}


.form-container h2 {
    margin-bottom: 25px;
    color: #00eaff;
    text-shadow: 0 0 15px #00eaff;
    letter-spacing: 2px;
}


.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="number"],
.form-container select {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    background: #000;
    border: 2px solid #00eaff;
    border-radius: 8px;
    color: #00eaff;
    font-size: 16px;
    outline: none;
    box-shadow: 0 0 10px #00eaff, inset 0 0 10px #00eaff;
    transition: 0.3s ease;
}

.form-container input:focus,
.form-container select:focus {
    box-shadow: 0 0 25px #00eaff, inset 0 0 15px #00eaff;
}


.form-container button {
    width: 100%;
    padding: 12px;
    background: #000;
    color: #00eaff;
    border: 2px solid #00eaff;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 15px #00eaff;
    margin-top: 8px;
}

.form-container button:hover {
    background: #00eaff;
    color: #000;
    box-shadow: 0 0 30px #00eaff;
}

.mensaje {
    color: #00eaff;
    font-weight: bold;
    margin-bottom: 10px;
}
